{% extends 'question_answer/base.html' %}

{% load staticfiles %}

{% block title %}{{ question.question_text }}{% endblock %}

{% block content %}

<!-- display the question title -->
<div class="row">
    <div class="col-md-2 text-center">
        <span id="upvote" class="glyphicon glyphicon-chevron-up upvote"></span>
        <h4 id="qScore">{{ question.score }}</h4>
        <p>Score</p>
        <span id="downvote" class="glyphicon glyphicon-chevron-down downvote"></span>
    </div>
    <div class="col-md-10">
        <h2>{{ question.question_name }}</h2>
        <hr>
        <p>{{ question.question_text }}</p>
    </div>
</div>
{% for answer in question.answer_set.all %}
<div id="answer-{{ answer.id }}" class="row">
    <hr>
    <div class="col-md-2 text-center">
        <span class="glyphicon glyphicon-chevron-up upvote"></span>
        <h4>{{ answer.score }}</h4>
        <p>Score</p>
        <span class="glyphicon glyphicon-chevron-down downvote"></span>
    </div>
    <div class="col-md-10">
        <p>{{ answer.answer_text }}</p>
    </div>
</div>
{% endfor %}

<form action="{% url 'questions:detail' question.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="answer_text">Comment:</label>
        <textarea id="answer_text" name='answer_text' class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>


{% endblock %}

{% block scripts %}
<script src="{% static 'questions/js/voting.js' %}"></script>
{% endblock %}
