{% extends 'question_answer/base.html' %}

{% block content %}

<!-- display the question title -->
<div class="row">
    <div class="col-md-2 text-center">
        <h1>{{ question.score }}</h1>
        <p>Score</p>
    </div>
    <div class="col-md-10">
        <h2>{{ question.question_name }}</h2>
        <hr>
        <p>{{ question.question_text }}</p>
    </div>
</div>
{% for answer in question.answer_set.all %}
<div class="row">
    <hr>
    <div class="col-md-2 text-center">
        <h3>0</h3>
        <p>Score</p>
    </div>
    <div class="col-md-10">
        <p>{{ answer.answer_text }}</p>
    </div>
</div>
{% endfor %}

<!-- display score with voting up/down buttons -->
<!-- display the actual question -->
<!-- display the comments to the question -->

<!-- display an add comment button -->

{% endblock %}
